* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 200vh;
  font-family: sans-serif;
  font-size: 16px;
  background: url(/img/simple-pattern-wavy-lines_53876-63044.webp);
}

nav {
  height: 84;
  width: auto;
  position: sticky;
  top: 0;
  border: 1px rgb(53, 70, 104) solid;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px rgb(51, 24, 88);
  height: 3rem;
}
.item {
  margin-left: 30px;
  margin-right: 30px;
}

.icon {
  margin-left: 10px;
  margin-right: 10px;
}

.icons {
  position: absolute;
  right: 10px;
}
.navElement {
  display: inline;
  /* border: 1px red solid; */
}

div {
  border: 1px rgb(51, 24, 88) solid;
}
.glass {
  height: 200px;
  width: 200px;
  text-align: center;
  margin: auto;

  background: linear-gradient
    (135 deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
