* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 200vh;
  font-family: sans-serif;
  font-size: 16px;
}

nav {
  height: 84;
  width: auto;
  position: sticky;
  top: 0;
  border: 1px red solid;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px red solid;
  height: 3rem;
}
.item {
  margin-left: 30px;
  margin-right: 30px;
}

.icon {
  margin-left: 10px;
  margin-right: 10px;
}

.icons {
  position: absolute;
  right: 10px;
}
.navElement {
  display: inline;
  /* border: 1px red solid; */
}

div {
  border: 1px red solid;
}
